.container {
  background-color: #fff;
  color: #393939;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 3em;
  margin-bottom: 2em;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.flexContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input {
  margin: 0 20px;
  text-align: center;
}

.item {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 45px;
}

.item h1 {
  font-size: 90px;
}
