.item {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 45px;
}

.item h1 {
  font-size: 90px;
  position: relative;
}

.item h1 i,
.float {
  font-style: normal;
  font-weight: normal;
}

.item h1 i {
  font-size: 40px;
}

.float {
  font-size: 40px;
  position: absolute;
  top: 10px;
  margin-left: calc(100% - 32px);
  color: #aeaeae;
}
